<a href="https://colab.research.google.com/github/neemajakisa/Food-Sheet-Repository/blob/main/Food_Balance_Sheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 **1. Mount the google colab on my google drive**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**2. Mount to the folder that has the data**

In [2]:
%cd '//content/drive/MyDrive/HamoyeAI_Food Balance Sheet'

/content/drive/MyDrive/HamoyeAI_Food Balance Sheet

**3. Importing Pandas**

In [3]:
import pandas as pd

**4. Reading the csv file**

In [4]:
df_foodsheets= pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')

**5. Seeing the First Line of Code**

In [5]:
print(df_foodsheets.head())

   Area Code     Area  Item Code         Item  Element Code  \
0          4  Algeria       2501   Population           511
1          4  Algeria       2501   Population          5301
2          4  Algeria       2901  Grand Total           664
3          4  Algeria       2901  Grand Total           674
4          4  Algeria       2901  Grand Total           684

                                  Element             Unit     Y2014  \
0           Total Population - Both sexes     1000 persons  38924.00
1                Domestic supply quantity      1000 tonnes      0.00
2           Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3  Protein supply quantity (g/capita/day)     g/capita/day     94.90
4      Fat supply quantity (g/capita/day)     g/capita/day     80.06

      Y2015     Y2016     Y2017     Y2018
0  39728.00  40551.00  41389.00  42228.00
1      0.00      0.00      0.00      0.00
2   3379.00   3372.00   3341.00   3322.00
3     94.35     94.72     92.82     91.83
4     79.36     77.40     80.19     77.28

In [11]:
df_foodsheets.groupby('Item')['Y2014'].sum()

Item
Alcohol, Non-Food        2403.00
Alcoholic Beverages    102410.11
Animal Products         11935.65
Animal fats            209460.54
Apples and products      9499.23
                         ...
Vegetables, Other      155038.96
Vegetal Products       107145.19
Wheat and products     232670.13
Wine                     4497.36
Yams                   200396.96
Name: Y2014, Length: 119, dtype: float64

In [13]:
df_foodsheets.groupby('Item')['Y2017'].sum()

Item
Alcohol, Non-Food        2348.00
Alcoholic Beverages     95581.06
Animal Products         11547.65
Animal fats            269617.53
Apples and products     10198.90
                         ...
Vegetables, Other      157752.59
Vegetal Products       107655.20
Wheat and products     240047.62
Wine                     4178.02
Yams                   229174.59
Name: Y2017, Length: 119, dtype: float64

In [16]:
df_foodsheets['Y2015'].mean()

135.23596649549626

In [17]:
df_foodsheets['Y2015'].std()

1603.4039839425013

In [19]:
df_foodsheets['Y2016'].isnull().sum()

1535

In [25]:
df_foodsheets.groupby('Element').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [31]:
df_foodsheets.groupby('Element')['Y2018','Element'].sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                                             Y2018
Element
Domestic supply quantity                2161192.10
Export Quantity                          181594.80
Fat supply quantity (g/capita/day)        10258.69
Feed                                     233489.68
Food                                    1303841.28
Food supply (kcal/capita/day)            455261.00
Food supply quantity (kg/capita/yr)       49056.85
Import Quantity                          287997.09
Losses                                   163902.00
Other uses (non-food)                     91300.97
Processing                               308429.00
Production                              2075072.89
Protein supply quantity (g/capita/day)    11833.56
Residuals                                 34864.00
Seed                                      25263.14
Stock Variation                           20577.91
Total Population - Both sexes           1140605.00
Tourist consumption                          90.00

In [34]:
df_foodsheets['Area'].unique()

array(['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso',
       'Cabo Verde', 'Cameroon', 'Central African Republic', 'Chad',
       'Comoros', 'Congo', "Côte d'Ivoire", 'Djibouti', 'Egypt',
       'Eswatini', 'Ethiopia', 'Ethiopia PDR', 'Gabon', 'Gambia', 'Ghana',
       'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia',
       'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius',
       'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda',
       'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone',
       'South Africa', 'Sudan', 'Sudan (former)', 'Togo', 'Tunisia',
       'Uganda', 'United Republic of Tanzania', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [41]:
df_foodsheets.groupby('Element').corr()

                                       Area Code  Item Code  Element Code  \
Element
Domestic supply quantity Area Code      1.000000  -0.000919           NaN
                         Item Code     -0.000919   1.000000           NaN
                         Element Code        NaN        NaN           NaN
                         Y2014          0.009139   0.077352           NaN
                         Y2015          0.007887   0.075470           NaN
...                                          ...        ...           ...
Tourist consumption      Y2014         -0.068931   0.110753           NaN
                         Y2015         -0.057195   0.111979           NaN
                         Y2016          0.092206   0.192639           NaN
                         Y2017          0.098744   0.188243           NaN
                         Y2018          0.094838   0.192494           NaN

                                          Y2014     Y2015     Y2016     Y2017  \
Element
Domestic supply quantity Area Code     0.009139  0.007887  0.006891  0.006814
                         Item Code     0.077352  0.075470  0.073394  0.077779
                         Element Code       NaN       NaN       NaN       NaN
                         Y2014         1.000000  0.995645  0.995738  0.996876
                         Y2015         0.995645  1.000000  0.998593  0.992927
...                                         ...       ...       ...       ...
Tourist consumption      Y2014         1.000000  0.996093  0.542556  0.526798
                         Y2015         0.996093  1.000000  0.579367  0.564226
                         Y2016         0.542556  0.579367  1.000000  0.995895
                         Y2017         0.526798  0.564226  0.995895  1.000000
                         Y2018         0.531700  0.569233  0.997913  0.997725

                                          Y2018
Element
Domestic supply quantity Area Code     0.008108
                         Item Code     0.077184
                         Element Code       NaN
                         Y2014         0.996241
                         Y2015         0.992424
...                                         ...
Tourist consumption      Y2014         0.531700
                         Y2015         0.569233
                         Y2016         0.997913
                         Y2017         0.997725
                         Y2018         1.000000

[144 rows x 8 columns]